header.header
    .container
        img.header__logo(src="./images/header_logo.png" alt="header_logo" height="40")
        input.header__search(type="search" placeholder="Search") 
        .header__icons
            img(src="./images/header_icon_chat.png" alt="header__chat").header__chat
            img(src="./images/header_icon_notif.png" alt="header__notifications").header__notifications
        .header__user
            img.header__userImg(src="./images/user_image.png" alt="user_image")
            .header__userName Maximillian Beekeeper