nav.nav
    ul
        li.nav__item
            img(src="./images/nav_feed.png", alt="Feed").nav__icon
            a(href=$$).nav__link Feed
        li.nav__item
            img(src="./images/nav_ask.png", alt="Ask a Colleague").nav__icon
            a(href=$$).nav__link Ask a Colleague
        li.nav__item
            img(src="./images/nav_companies.png", alt="Companies").nav__icon
            a(href=$$).nav__link Companies
        li.nav__item
            img(src="./images/nav-services.png", alt="Service Directory").nav__icon
            a(href=$$).nav__link Service Directory