.ad {
    width: 212px;
    height: 389px;
    @include borBot;

    &__header {
        font-size: 0.8rem;
        color: $subtitle_c;
    }

    &__img {
        // padding: 22px 0 10px;
    }

    &__footer {
        font-size: 0.7rem;
        color: #e2e2e2;
    }
}