.ad {
    width: 212px;
    @include borBot;

    &__header {
        font-size: 0.8rem;
        color: $subtitle_c;
    }

    &__footer {
        font-size: 0.7rem;
        color: #e2e2e2;
        padding: 5px 0 10px;
    }
}