.buttonChat {
    display: none;
    width: 212px;
    height: 53px;
    color: #fff;
    background: #87b448 url(../images/button_chat_icon.png) 20px 55% no-repeat;
    font-size: 0.9rem;
    padding-left: 30px;
}