.c_header {
    height: 510px;
    color: #fff;
    background: #ddd url(../images/contact_header_bg.png) center/cover no-repeat;

    &_top {
        display: flex;
        justify-content: space-between;
    }

    &_logo {
        margin-left: 50px;
        margin-top: 40px;
    }

    &_button {
        width: 110px;
        height: 30px;
        margin-right: 40px;
        margin-top: 45px;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        background-color: #87b448;
    }

    &_bottom {
        display: block;
        width: 500px;
        height: 300px;
        margin: 100px auto 115px;
        text-align: center;
    }

    &_title {
        font-size: 2.95rem;
        font-weight: 400;
        margin: 0;

    }

    &_subtitle {
        font-size: 1.23rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 10px 0;
    }
}

.c_form {
    height: 817px;
    background: #ddd url(../images/contact_form_bg.png) center/cover no-repeat;

    &_cont {
        height: 745px;
        width: 760px;
        margin: 0 auto;
        top: -100px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        padding: 17px 20px;
        border-radius: 5px;

        label {
            font-size: 1rem;
            font-weight: 600;
        }

        input, textarea, select {
            display: block;
            border: 1px solid  #c1c1c1;
            border-radius: 5px;
            width: 100%;
            margin: 5px 0 18px;
            padding: 5px 18px 0;
            font-size: 1rem;
            font-weight: 400;
            resize: none;
        }

        input, select {
            height: 52px;
        }

        textarea {
            height: 152px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(../images/arrow.png) 97.5% 50% no-repeat;
        
            &:hover {
                cursor: pointer;
            }
        }
    }

    &_note {
        font-size: 1rem;
        color: #c1c1c1;
        margin-bottom: 12px;
    }

    &_row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &_half {
        width: 345px;
    }

    &_descr {
        display: flex;
        justify-content: space-between;
    }

    &_photoCont {
        display: flex;
        flex-wrap: wrap;
    }

    &_newImg{
        object-fit: cover;
        border-radius: 5px;
    }

    &_closeBut {
        background: url(../images/close_but_blue.png) no-repeat;
        width: 24px;
        height: 24px;
        left: -15px;
        top: -120px;
        margin-right: 20px;
        border: none;
        position: relative;

        &:hover {
            background: url(../images/close_but_red.png)  top right no-repeat;
        }
    }

    &_add_photo {
        width: 130px;
        height: 130px;
        border: 1px solid  #c1c1c1;
        border-radius: 5px;
        text-align: center;
        padding: 30px 15px;
        margin-bottom: 42px;
    }

    &_add_title {
        color: #7c8695;
        font-size: 1rem;
        margin-bottom: 5px;
    }

    &_add_text {
        font-size: 0.75rem;
        color: #c6c6c7;
    }

    #c_form_hiddenAdd {
        opacity: 0;
        position: relative;
        overflow: hidden;
        height: 165px;
        width: 130px;
        left: -15px;
        top: -70px;
        margin-bottom: -165px;

        &:hover {
            cursor: pointer;
        }
    }

    &_submit {
        width: 760px;
        height: 50px;
        display: block;
        margin-left: -20px;
        background-color: #87b448;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        color: #fff;
    }
}

.c_about {
    max-width: 1440px;
    min-width: 970px;
    margin: 92px auto;
    padding: 0 80px;

    &_title {
        text-align: center;
        font-size: 1.85rem;
        color: #2b3442;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &_text {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        line-height: 1.5;
        letter-spacing: -0.1px;
    }

    &_item {
        width: 47%;
        color: #7c8695;
    }
}

.c_footer {
    height: 75px;
    padding: 20px 80px 20px;
    @include borTop;
    color: #b7bfcd;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;

    ul {
        display: flex;
        justify-content: space-between;
        width: 230px;
        padding: 0;
        margin-right: 4px;
    }

    a {
        font-weight: 400;
        color: inherit;

        &:hover {
            color: #87b448;
        }
    }
}