.fComp {
    width: 212px;
    height: 352px;
    @include borTop;
    @include borBot;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 17px 0 5px;
        font-size: 0.875rem;
        color: $subtitle_c;
    }

    &__seeAll {
        margin-top: 10px;
        font-size: 0.875rem;
        align-self: center;
    }

    &__img {
        width: 81px; 
    }

    &__items {
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        align-self: flex-start;
        width: 121px;  
        padding-top: 5px;
        line-height: 1.45;
    }

    &__name {
        font-size: 0.95rem;
        margin: 0;
    }

    &__info {
        font-size: 0.875rem;
        color: $subtitle_c;
    }

    &__link {
        font-size: 0.75rem;
    }

}