.nav {
   width: 212px;

   ul {
       padding: 0;
       margin: 0;
   }

   &__item {
      height: 51px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include borBot;

   } 

   &__link {
      padding-left: 25px;  
      color: $sec_text_c;   
      font-size: 1rem;

      &:hover {
        cursor: pointer;
        color: #87b448;
      }
   }
}