.nav {
   width: 212px;

   ul {
       padding: 0;
   }

   &__item {
      height: 54px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.9rem;
      @include borBot;
   } 

   &__link {
      padding-left: 10px;  
      color: $sec_text_c;   
      letter-spacing: 0;
      font-size: 0.9rem;
   }
}