.people {
    width: 212px;
    @include borBot;
    padding-bottom: 18px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: 10px 0 6px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 0.875rem;
        color: $subtitle_c;
        margin: 17px 0 5px;
    }

    &__seeAll {
        font-size: 0.875rem;
        margin-top: 18px;
    }

    &__img {
        float: left;
        width: 81px;    
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        width: 121px;  
        padding-left: 10px;  
        line-height: 1.2;
    }

    &__name {
        clear: both;
        font-size: 1rem;
        margin: 0 0 5px;
    }

    &__info {
        font-size: 0.875rem;
        color: $subtitle_c;
        line-height: 1.2;
    }

    &__location {
        padding: 5px 0;
    }

    &__link {
        font-size: 0.7rem;
        letter-spacing: 0.5px;
    }

}