.people {
    width: 212px;
    height: 420px;
    @include borBot;
    margin-top: 10px;

    &__items {
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 0.8rem;
        color: $subtitle_c;
        margin: 10px 0;
    }

    &__seeAll {
        font-size: 0.8rem;
        align-self: center;
    }

    &__img {
        float: left;
        width: 81px;    
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        width: 121px;  
        padding-left: 10px;  
        line-height: 1.5;
    }

    &__name {
        clear: both;
        font-size: 1rem;
        margin: 0 0 5px;
    }

    &__info {
        font-size: 0.8rem;
        color: $subtitle_c;
    }

    &__link {
        font-size: 0.7rem;
    }

}