.serviceDir {

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 12px 0 20px;
    }

    &__title {
        margin: 0;
    }

    &__addNew {
        width: 146px;
        height: 31px;
        font-size: 0.9rem;
        color: #fff;
        background-color: #87b448;
        border: none;
        border-radius: 10px;
    }

    &__services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid #e0e2e6;
        border-radius: 5px;
        padding: 17px 0;
    }

    &__item {
        width: 140px;
        height: 185px;
        margin: 0 9px 20px;

        &:hover {
            cursor: pointer;
            color: #87b448;
        }
    }

    &__img_border {
        height: 140px;
        border: 1px solid #e0e2e6;
        margin-bottom: 10px;
    }

    &__img {
        display: block;
        width: 100px;
        margin: 20px auto;
    }

    &__text {
        text-align: center;
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}