@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/normalize.scss/normalize.scss";

@import "global/_fonts";
@import "global/_vars";
@import "global/_mixins";
@import "global/_base";

@import "sections/_header";
@import "sections/_nav";
@import "sections/_ad";
@import "sections/_fComp";
@import "sections/_footer";
// @import "sections/_serviceDir";
@import "sections/_people";

.main {
    width: 970px;
    margin: 0 auto;
    display: flex;
}

.leftSidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
}

.centralPart {
    width: 485px;
    background-color: #ddd;
}

.rightSidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
}