@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/normalize.scss/normalize.scss";

@import "global/_fonts";
@import "global/_vars";
@import "global/_mixins";
@import "global/_base";

@import "sections/_header";
@import "sections/_nav";
@import "sections/_ad";
@import "sections/_fComp";
@import "sections/_footer";
@import "sections/_serviceDir";
@import "sections/_people";
@import "sections/_fProd";
@import "sections/_buttonChat";

.main {
    min-width: 970px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.leftSidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
}

.rightSidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
}